// only use on white text and logo
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14.5px;
  font-weight: 400;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  color: @color-text;
  background: @color-bg;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

code {
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
}

.monospace-font {
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
  font-size: .85rem;
}