// brand colors
@blue: #4261e0;
@purple: #5c4ee5;
@green: #44cf6c;
@pink: #e91e63;
@red: #e6281a;
@orange: #ff9800;
@yellow: #ffeb3b;

// background colors
@color-bg: #fffffc;
@color-bg--white-transparent: fadeout(#fff, 75%);
@color-bg--black-transparent: fadeout(#000, 95%);
@color-bg--light-gray: tint(#000, 95%);
@color-bg--modal-form: tint(#000, 99%);
@color-bg--hover: tint(#000, 95%);
@color-bg--light-blue: tint(@blue, 95%);

// border colors
@color-border--transparent-btn: fadeout(#000, 90%);
@color-border--input: fadeout(#000, 75%);
@color-border--light-gray: tint(#000, 85%);
@color-border--lightest-gray: fadeout(#000, 94%);
@color-border--dark-gray: tint(#000, 50%);
@color-border--gray: tint(#000, 75%);
@color-border--light-blue: fadeout(@blue, 70%);

// text colors
@color-text: #111;
@color-text--muted: tint(@color-text, 40%);
@color-text--light: tint(@color-text, 65%);
@color-text--white-transparent: fadeout(#fff, 1%);
@color-text--form-warning: mix(@color-text, @pink, 25%);

// media queries
@tablet-vertical: 600px;
@tablet-horizontal: 800px;
@desktop: 950px;
@desktop-wide: 1300px;

// z-indexes
@on-top: 3;
@underneath: -3;