<div class="your-archives">
  <div class="heading">
    <h2>Your archives</h2>
    <a href="/new-archive" class="btn success">
      Upload archive
    </a>
  </div>

  <% if (!sessionUser.archives.length) { %>
    <p class="no-archives">
      You haven't uploaded any archives.
    </p>
  <% } %>

  <ul class="archives">
    <% userArchives.forEach(archive => { %>
      <a class="archive" href="/<%= sessionUser.username%>/<%= archive.name %>">
        <span class="name">
          <%= archive.title || archive.name %>
        </span>
        <code><%= bytes(archive.diskUsage) %></code>
        <span class="peer-count">
          <i class="fa fa-share-alt"></i>
          <%= archive.numPeers %>
        </span>
      </a>
    <% }) %>
    <p class="usage">
      <code><%= bytes(diskUsage) %>/<%= bytes(diskQuota) %></code>
      <% if (diskUsage > diskQuota) { %>
        <i class="fa fa-exclamation-circle"></i>
      <% } %>
    </p>
  </ul>
  <% if (sessionUser.archives.length > 10) { %>
    <a class="more" href="/<%= sessionUser.username %>">
      View <%= sessionUser.archives.length - 10 %> more archives...
    </a>
  <% } %>
</div>
