.admin-dashboard {
  h1 .admin-nav {
    font-weight: normal;
    font-size: 1.4rem;
    margin-left: 0.5rem;

    a {
      color: @blue;
    }
  }

  #stats {
    tbody td {
      font-size: 3rem;
      text-align: center;
      width: 120px;
    }
  }
}