main.archive {

  #admin-remove-archive-form,
  #remove-archive-form {
    display: none;

    &.open {
      display: block;
    }
  }

  h1 .featured {
    // bullshit CSS because tara needs to take a pass at this
    font-size: 0.8rem;
    font-weight: normal;
    border: 1px solid gray;
    border-radius: 2px;
    display: inline-block;
    line-height: 1.2;
    padding: 1px 4px 0;
    background: #fafafa;
    color: #666;
    position: relative;
    top: -3px;
  }

  .section.links {

    i {
      color: @blue;
      margin-left: 3px;
    }

    a {
      text-decoration: none;
    }
  }


  .admin-controls {
    margin-top: 1rem;
  }
}
