main.archive {

  .archive-content {
    &:extend(.card);
    margin: 1rem 0;
  }

  #admin-remove-archive-form,
  #remove-archive-form {
    display: none;

    &.open {
      display: block;
    }
  }

  h1 .featured {
    display: inline-block;
    background: @color-bg--light-gray;
    border: 1px solid @color-border--light-gray;
    font-size: 11.5px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px 5px 2px 5px;
    line-height: 100%;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: .35px;
    color: fadeout(@color-text, 20%);

    i {
      margin-right: 2px;
    }
  }

  .section.links {
    &:extend(.flex);
    width: 100%;
    max-width: 500px;
    position: relative;
    font-size: .8rem;
    margin-bottom: 3rem;

    #url-copy-feedback {
      position: absolute;
      top: -1.25rem;

      &:empty {
        display: none;
      }
    }

    .url {
      display: inline-block;
      flex: 1;
      text-align: center;
      border: 1px solid @color-border--light-gray;
      background: @color-bg--lightest-gray;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:not(:last-of-type) {
        border-right: 0;
      }

      &:hover {
        background: @color-bg--light-gray;
      }

      .label {
        position: relative;
        padding: .25rem 0;
        width: 100%;
        height: 100%;
        display: inline-block;

        &:hover {

          + .content {
            display: block;
          }
        }
      }

      .copy-to-clipboard {
        color: @color-text--light;
        text-decoration: none !important;
        position: absolute;
        right: .5rem;
        top: 6.5px;

        &:hover {
          color: @color-text;
        }
      }

      .content {
        &:extend(.overflow-ellipsis);
        position: absolute;
        top: ~"calc(30px + .5rem)";
        left: 0;
        text-align: center;
        display: none;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .admin-controls {
    margin-top: 1rem;

    h2 {
      margin-top: 0;
      margin-bottom: .5rem;
    }

    > div:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    form {
      margin-top: .5rem;
    }
  }
}

.archive-footer-links {
  font-size: .8rem;

  > * {
    color: @color-text--muted;
  }
}
