@import './base';
@import '../com/card';
@import '../com/prompt';
@import '../com/forms';

main.home {
  padding-top: 0;

  h2 {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 400;
    margin-bottom: .25rem;
  }

  .main-content .container {
    &:extend(.flex);
    padding-top: 2rem;
  }

  .sidebar {
    flex-basis: 100%;

    @media (min-width: @tablet-horizontal) {
      flex-basis: 30%;
    }
  }

  .featured-apps {
    flex-basis: 100%;

    @media (min-width: @tablet-horizontal) {
      flex-basis: 70%;
      padding-right: 2.5rem;
    }
  }

  .featured-apps, .sidebar {
    width: 100%;
  }

  .sidebar {

    > * {
      margin-bottom: 2rem !important;
    }
  }

  .tools-cta-container {
    display: none;
  }

  .sidebar .callout {
    &:extend(.rounded);
    background: @color-bg--light-gray;
    border: 1px solid @color-border--lightest-gray;
    padding: 1em;
    font-size: .85rem;

    a {
      &:extend(.link);
      color: @color-link;
    }
  }

  .your-archives {

    .archives {
      &:extend(.card);
      padding: 0 !important;
    }

    .heading {
      &:extend(.flex);
      justify-content: space-between;
      align-items: baseline;
    }

    .item {
      display: block;
      padding: .5rem .8rem;
      font-size: .825rem;

      &:not(:last-of-type) {
        border-bottom: 1px solid @color-border--light-gray;
      }

      &.archive {

        &:hover {
          background: @color-bg--light-blue;
        }
      }

      .name {
        color: @color-link;
        font-weight: 500;
      }

      .peer-count {
        float: right;
        color: @color-text--muted;
      }
    }

    code {
      font-size: .8rem;
      color: @color-text--muted;
    }

    .usage {
      display: inline-block;
      color: @color-text--muted;
      font-size: .8rem;
    }

    .more {
      display: block;
      font-size: .85rem;
      padding: .15rem 1rem;
      border-top: 1px solid @color-border--light-gray;

      &:hover {
        &:extend(.link);
      }
    }

    .no-archives {
      font-size: .85rem;
      padding: .5rem .8rem;
    }
  }

  .highlighted-content .container {
    &:extend(.flex);
    flex-direction: column-reverse;
  }

  @media (min-width: @tablet-horizontal) {
    .highlighted-content .container {
      flex-direction: initial;
    }

    .tools-cta-container {
      display: block;
    }
  }

  @media (max-width: @tablet-horizontal) {
    .your-archives {
      margin: 2rem 0;
    }
  }
}

.session-alerts:not(:blank) {
  margin-top: 1rem;
}

.p2p-apps-list,
.featured-apps-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: @tablet-vertical) {
    grid-template-columns: 1fr 1fr;
  }

  .app {
    &:extend(.card);
    position: relative;
    background: #fff;
    border: 1px solid @color-border--light-gray;
    display: block;
    padding: 1rem !important;
    font-size: .85rem;

    &:hover {
      // TODO hover state
    }

    .header {
      &:extend(.flex);
      justify-content: space-between;
    }

    .peer-count {
      &:extend(.monospace-font);
      color: @color-text--muted;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .title {
      font-size: 1rem;

      &:hover {
        color: @color-link;
      }
    }

    .desc {
      margin-bottom: 2rem;
    }

    .archive-footer {
      position: absolute;
      width: 100%;
      bottom: 1rem;
      left: 1rem;
      color: @color-link;

      a {
        &:extend(.monospace-font);
        font-size: .7rem;
        padding: 3px 5px 1px 5px;
        border-radius: 4px;
        background: @color-bg--light-gray;
        border: 1px solid @color-border--light-gray;
        color: @color-text--muted;
        margin-right: 5px;

        &:first-of-type {
          padding-right: 0;
        }

        &:hover {
          border-color: @color-text--muted;
        }
      }
    }

    .author {
      color: @color-text--muted;
      font-weight: 300;
      font-size: .8rem;

      a:hover {
        &:extend(.link);
      }
    }
  }
}

.p2p-apps {
  padding: 2rem 0 3rem 0;
}

.p2p-apps-list {

  @media (min-width: @tablet-horizontal) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .app {
    &:extend(.antialiased);
    min-height: 120px;
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;

    .desc {
      max-width: 75%;
      margin-bottom: 0;
    }

    &.photo-album {
      background: url(/assets/images/apps/photo-album.svg) no-repeat;
      background-size: cover;
    }

    &.editor {
      background: url(/assets/images/apps/editor.png) no-repeat;
      background-size: cover;
    }

    &.rss {
      background: url(/assets/images/apps/rss.png) no-repeat;
      background-size: cover;
    }

    &.nexus{
      background: url(/assets/images/apps/nexus.svg) no-repeat;
      background-size: cover;
    }

    &.paste-dat {
      background: url(/assets/images/apps/paste-dat.svg) no-repeat;
      background-size: cover;
    }

    &:hover {

      .title {
        &:extend(.link);

        &:after {
          margin-left: 6px;
        }
      }
    }
  }

  .title {

    &:after {
      display: inline-block;
      content: '→';
      margin-left: 3px;
      transition: margin .2s ease;
    }

    &:hover {
      color: inherit !important;
    }
  }
}

#get-started-container {
  &:extend(.card);
  &:extend(.flex);
  &:extend(.antialiased);
  color: #fff !important;
  background: @light-green !important;
  border: none !important;
  position: relative;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1.25rem !important;
  max-width: 700px;
  margin: 1rem;
  margin-top: 2.6rem !important;
  color: fadeout(@color-text, 10%);
  font-size: 1rem;
  font-weight: 500;

  a {
    &:extend(.link);
  }

  .graphic-container {
    font-size: 28px;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: radial-gradient(
      rgba(0,0,0,.2) 10%,
      rgba(0,0,0,.2) 30%,
      rgba(0,0,0,.125) 30%,
      rgba(0,0,0,.125) 50%,
      rgba(0,0,0,.075) 50%,
      rgba(0,0,0,.075) 70%
    );
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  p {
    width: ~"calc(100% - 80px)";
    margin-bottom: 2rem;
  }

  .btn {
    color: @color-link;
    font-weight: 400;
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    &:hover {
      background: fadeout(@light-green, 97%) !important;
    }
  }

  @media (min-width: @tablet-horizontal) {
    font-size: .85rem;
    padding: .5rem 1rem !important;

    .graphic-container {
      position: initial;
    }
  }

  &:hover {

    #dismiss-get-started-btn {
      opacity: 1;
    }
  }

  @media(min-width: @tablet-horizontal) {
    margin: 0 auto 1rem auto;

    p {
      margin-bottom: 0;
    }

    .btn {
      position: initial;
    }
  }
}

#dismiss-get-started-btn {
  &:extend(.close-prompt);
  background: @light-green !important;
  -webkit-text-stroke: .5px @light-green;
}

#beaker-prompt-frontpage {
  &:extend(.card);
  &:extend(.flex);
  &:extend(.antialiased);
  font-size: .85rem !important;
  color: #fff !important;
  background: @blue--accent-400!important;
  border: none !important;
  position: relative;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1.25rem !important;
  max-width: 700px;
  color: fadeout(@color-text, 10%);
  font-weight: 500;

  a {
    &:extend(.link);
  }

  i.fa-cubes {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 50px;
    color: fadeout(#000, 93%);
  }
}

#dismiss-beaker-prompt-btn {
  &:extend(.close-prompt);
  background: @blue--accent-400 !important;
  -webkit-text-stroke: .5px @blue--accent-400 !important;
}