.hero-container {
  &:extend(.flex);

  .flex-spacer {
    flex: 0;
  }

  @media (min-width: @desktop-wide) {

    .hero {
      flex: 2;
      margin-right: 4rem;
    }

    .flex-spacer {
      flex: 1;
    }
  }
}

.hero {
  &:extend(.card);
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: block;
  position: relative;
  border-color: @blue !important;

  h1.tagline {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 1rem;
    color: @blue;
  }

  p.blurb {
    font-size: .85rem;
    color: fadeout(mix(@blue, @color-text, 95%), 25%);
    color: fadeout(@blue, 5%);
    max-width: 450px;
  }

  .cta {
    margin-top: 1rem;
    text-align: right;
  }

  @media (min-width: @tablet-vertical) {

    p.blurb {
      max-width: 450px;
    }

    .cta {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      margin-top: 0;

      .btn {
        float: right;
      }
    }
  }

  @media (min-width: @tablet-horizontal) {

    p.blurb {
      max-width: 700px;
    }

    .cta {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      margin-top: 0;

      .btn {
        float: right;
      }
    }

    h1.tagline {
      font-size: 1.5rem;
    }

    p.blurb {
      font-size: .9rem;
      margin-right: 100px;
    }
  }

  @media (min-width: @desktop) {

    p.blurb {
      margin-bottom: 0;
    }
  }
}
