.hashbase-logo {
  &:extend(.antialiased);
  font-family: Catamaran;
  font-weight: 900;
  font-size: 1.6rem; // minimum font size
  letter-spacing: 0.01rem;
  text-decoration: none !important; // should never be underlined
}
