.pro-tag {
  &:extend(.antialiased);
  &:extend(.rounded);
  display: inline-block;
  text-transform: uppercase;
  background: @green;
  color: @color-text--white-transparent;
  font-weight: 900;
  padding: 2px 4px 0 4px;
  font-size: .75rem;
  letter-spacing: .01rem;
  margin: 0 .25rem;
  vertical-align: middle;
  line-height: 1.2;
  text-align: center;
}
