<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
    <link rel="stylesheet" href="/assets/css/about.css">
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main class="about">
    <div class="container large">
      <h1>Hashbase is shutting down</h1>

      <div id="overview" class="section overview">
        <p>
          We've sadly decided it's time to shut down Hashbase.
          The team is moving on to new projects, and we no longer have the
          resources to keep the service running.
        </p>
        <p>
          Thank you all for the years of support and care. We wouldn't
          have gotten anywhere without you.
        </p>
        <p>
          The source code for Hashbase <a href="https://github.com/beakerbrowser/hashbase">is available here</a>.
        </p>
        <p>
          &mdash; <a href="https://twitter.com/pfrazee">Paul</a>
        </p>
      </div>
    </div>

    </main>
    <% include com/footer.html %>
    <% include com/stdjs.html %>
  </body>
</html>
