<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Acceptable Use Policy - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main class="acceptable-use">
    <div class="container medium">
      <h1>Acceptable Use Policy</h1>

      <p>
        Your use of the Service is subject to this Acceptable Use Policy. If you are found to be in violation of our policies at any time, as determined by Blue Link Labs in its sole discretion, we may warn you or suspend or terminate your account. Please note that we may change our Acceptable Use Policy at any time, and pursuant to the Hashbase Terms, it is your responsibility to keep up-to-date with and adhere to the policies posted here. All capitalized terms used herein have the meanings stated in the Terms, unless stated otherwise.
      </p>

      <h2>Prohibited content</h2>
      <p>
        The Content displayed and/or processed through your Application or other web site utilizing the Service shall not contain any of the following types of content:
      </p>

      <ol>
        <li>Content that infringes a third party's rights (e.g., copyright) according to applicable law;</li>
        <li>Excessively profane content;</li>
        <li>Pornography;</li>
        <li>Hate-related or violent content;</li>
        <li>Content advocating racial or ethnic intolerance;</li>
        <li>Content intended to advocate or advance computer hacking or cracking;</li>
        <li>Gambling;</li>
        <li>Other illegal activity, including without limitation illegal export of controlled substances or illegal software;</li>
        <li>Drug paraphernalia;</li>
        <li>Phishing;</li>
        <li>Malicious content;</li>
        <li>Content that is violates the securities, money laundering, banking or any related laws or regulations of any country or territories in which the Content is directed or countries or territories in which you have knowledge or should have knowledge where such Content has been or is being accessed;</li>
        <li>Content which mines cryptocurrencies;</li>
        <li>Content which generates Denial of Service attacks;</li>
        <li>Content which collects personally identifiable information of any person or entity without their express consent;</li>
        <li>Any utilization of circular popups, multiple popups or any redirect, link or referral which creates an offensive or unpleasant user experience.</li>
        <li>Other material, products or services that violate or encourage conduct that would violate any criminal laws, any other applicable laws, or any third-party rights.</li>
      </ol>

      <h2>Prohibited actions</h2>
      <p>
        In addition to (and/or as some examples of) the violations described in the Terms, you may not and may not allow any third party, including your End Users, to:
      </p>

      <ol>
        <li>Generate or facilitate unsolicited commercial email ("spam"). Such activity includes, but is not limited to:
          <ol>
            <li>sending email in violation of the CAN-SPAM Act or any other applicable anti-spam law;</li>
            <li>imitating or impersonating another person or his, her or its email address, or creating false accounts for the purpose of sending spam;</li>
            <li>data mining any web property (including Hashbase) to find email addresses or other user account information;</li>
            <li>sending unauthorized mail via open, third-party servers;</li>
            <li>sending emails to users who have requested to be removed from a mailing list;</li>
            <li>selling, exchanging or distributing to a third party the email addresses of any person without such person's knowing and continued consent to such disclosure; and</li>
            <li>sending unsolicited emails to significant numbers of email addresses belonging to individuals and/or entities with whom you have no preexisting relationship.</li>
          </ol>
        </li>
        <li>Send, upload, distribute or disseminate or offer to do the same with respect to any unlawful, defamatory, harassing, abusive, fraudulent, infringing, obscene, or otherwise objectionable content</li>
        <li>Intentionally distribute viruses, worms, defects, Trojan horses, corrupted files, hoaxes, or any other items of a destructive or deceptive nature;</li>
        <li>Conduct or forward pyramid schemes and the like;</li>
        <li>Transmit content that may be harmful to minors;</li>
        <li>Impersonate another person (via the use of an email address or otherwise) or otherwise misrepresent yourself or the source of any email;</li>
        <li>Illegally transmit another's intellectual property or other proprietary information without such owner's or licensor's permission;</li>
        <li>Use the Service to violate the legal rights (such as rights of privacy and publicity) of others;</li>
        <li>Promote or encourage illegal activity;</li>
        <li>Interfere with other users' enjoyment of the Service;</li>
        <li>Perform significant load testing without first obtaining Blue Link Labs's written consent (email permitted), as otherwise these may be treated as denial-of-service attacks;</li>
        <li>Sell, trade, resell or otherwise exploit the Service for any unauthorized commercial purpose;</li>
        <li>Modify, adapt, translate, or reverse engineer any portion of the Service;</li>
        <li>Remove any copyright, trademark or other proprietary rights notices contained in or on the Service;</li>
        <li>Reformat or frame any portion of the web pages that are part of the Service's administration display;</li>
        <li>Display any content on the Service that contains any hate-related or violent content or contains any other material, products or services that violate or encourage conduct that would violate any criminal laws, any other applicable laws, or any third party rights;</li>
        <li>Modify the Hashbase logo or any other Hashbase Marks;</li>
        <li>Use the Service, or any interfaces provided with the Service, to access any Hashbase product or service in a manner that violates the Terms or other terms and conditions for use of such Hashbase product or service.</li>
      </ol>

      <h2>Quotas and limits</h2>
      <p>
        Hashbase has certain soft and hard limits in using its service. Hard limits are automatically enforced by the Service. Soft limits are consumable resources that you agree not to exceed.
      </p>

      <ul>
        <li>Network Bandwidth: 2TB/month - Soft</li>
        <li>Request Length: 30 seconds - Hard</li>
        <li>Disk Usage: 100MB for free accounts, 100GB for pro accounts - Hard</li>
      </ul>

      <p>
        This document is an adaptation of the <a class="link" href="https://www.heroku.com/policy/aup">Heroku Acceptable Use Policy. The original work has been modified. Heroku, Inc. is not connected with and does not sponsor or endorse Blue Link Labs or its use of the work.
      </p>
    </div>
    </main>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
  </body>
</html>
