<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Change Password - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>

  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main>
    <div class="container">
      <form class="form modal-form form-account-change-password" method="POST">
        <h1 class="form-heading">Change your password</h1>
        <div id="success-msg" class="alert success" role="alert"></div>
        <div id="error-general" class="alert warning" role="alert"></div>

        <p class="form-group">
          <label for="input-oldPassword">Old password</label>
          <input autofocus type="password" name="oldPassword" class="form-control" id="input-oldPassword"/>
          <span id="error-oldPassword" class="form-control-feedback"></span>
        </p>

        <p class="form-group">
          <label for="input-newPassword">New password</label>
          <input type="password" name="newPassword" class="form-control" id="input-newPassword"/>
          <span id="error-newPassword" class="form-control-feedback"></span>
        </p>

        <div class="actions">
          <a class="alternate-link" href="/account">&laquo; Back to account</a>
          <button class="btn primary" type="submit">Change password</button>
        </div>
      </form>
    </div>
    </main>

    <% include com/footer-light.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/account-change-password.js"></script>
  </body>
</html>
