<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Dashboard - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
    <link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css">
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main class="admin-dashboard">
    <div class="container">
      <h1>Admin Dashboard
        <span class="admin-nav">
          <a href="/v1/admin">stats</a> |
          <a href="/v1/admin/users/">users</a> |
          <strong>reports</strong>
        </span>
      </h1>

      <p>Admins only. Weirdos get out.</p>

      <table class="reports-table display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Archive</th>
            <th>Archive owner</th>
            <th>Reported by</th>
            <th>Reason</th>
            <th>Reported at</th>
            <th>Notes</th>
            <th>Status</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Archive</th>
            <th>Archive owner</th>
            <th>Reported by</th>
            <th>Reason</th>
            <th>Reported at</th>
            <th>Notes</th>
            <th>Status</th>
          </tr>
        </tfoot>
      </table>

    </div>
    </main>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/admin-dashboard-reports.js"></script>
  </body>
</html>
