<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= username %>/<%= archivename %> - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
    <link rel="stylesheet" href="/assets/css/archive-domain.css">
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main class="archive-domain">
      <div class="container medium">
        <p class="breadcrumbs">
          <a href="/<%= username %>"><%= username %></a>
          <a href="/<%= username %>/<%= archivename %>"><%= archivename %></a>
          <span><% if (isNewDomain) { %>New domain<% } else { %><%= domain %><% } %></span>
        </p>

        <div class="archive-domain-content">
          <div class="card">
            <h2>1. Register your domain</h2>
            <p>
              Register your domain with a DNS provider (e.g. <a class="link" href="https://namecheap.com">Namecheap</a>).
            </p>
          </div>

          <% if (isNewDomain) { %>

            <div class="card">
              <form id="add-domain-form" action="/v1/archives/add" method="POST" class="form">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="archiveKey" value="<%= archiveKey %>">

                <h2>2. Set the domain</h2>

                <p class="form-desc">
                  Enter the domain below to map it to the "<%= archivename %>" archive.
                </p>

                <div id="error-general" class="alert warning" role="alert"></div>

                <p class="form-group">
                  <label for="domain-input">Domain</label>
                  <input autofocus required type="text" class="form-control" name="domain" id="domain-input" />
                </p>

                <div class="actions">
                  <button id="domain-submit-btn" type="submit" class="btn success">
                    Submit
                  </button>
                </div>
              </form>
            </div>

            <div class="card">
              <h2>3. Configure the DNS</h2>
            </div>

          <% } else { %>

            <div class="card">
                <h2>2. Set the domain</h2>

                <div class="domain-value"><%= domain %></div>
              </form>
            </div>

            <div class="card">
              <h2>3. Configure the DNS</h2>

              <p>
                Use your DNS provider's dashboards to configure your domain's record as follows:
              </p>

              <ul>
                <li>Create an <code>A</code> record with the value: <code class="value">192.0.0.1</code><span class="explanation">This will point your domain at our servers.</span></li>
                <li>Create a <code>TXT</code> record with the value: <code class="value">hashbase-confirm=<%= domainRecord.domainVerifyNonce %></code><span class="explanation">This will confirm your ownership of the domain.</span></li>
              </ul>

              <p class="status-line">
                <strong>Status:</strong> <span class="status-label pending">Pending</span>
                <a class="btn primary">Confirm configuration</a>
              </p>

              <p>
                Click "Confirm configuration" to have Hashbase check the DNS records. When the status changes to "Verified," your domain will be active. <span class="aside">The DNS records may take some time to propogate, so you may have to try more than once.</span>
              </p>
            </div>

            <div class="card">
              <h2>Admin</h2>

              <p>
                <button id="remove-domain" class="btn cancel">
                  Remove domain
                  <i class="fa fa-close"></i>
                </button>
              </p>
            </div>
          <% } %>
        </div>
      </div>
    </main>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
    <script>
      window.params = {
        csrf: "<%= csrfToken %>",
        domainRecordID: "<%= domainRecord && domainRecord.id %>",
        username: "<%= username %>",
        archivename: "<%= archivename %>"
      }
    </script>
    <script src="/assets/js/archive-domain.js"></script>
  </body>
</html>
