<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>
    <main>
    <span class="container">
      <form class="form modal-form form-forgot-password" method="POST">
        <h1 class="form-heading">Forgot your password?</h1>
        <p class="form-desc">
          Enter your email and we'll send you instructions to reset your password.
        </p>
        <div id="success-msg" class="alert primary" role="alert"></div>

        <p class="form-group">
          <label for="-email">Email</label>
          <input type="text" name="email" class="form-control" id="input-email" />
          <span id="error-email" class="form-control-feedback"></span>
        </p>

        <div class="actions">
          <a href="/login" class="alternate-link">&laquo Back to login</a>
          <button class="btn primary" type="submit">Send reset link</button>
        </div>
      </form>

      <p class="form-followup">
        New? <a href="/register">Create an account</a>
      </p>
    </div>
    </main>

    <% include com/footer-light.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/forgot-password.js"></script>
  </body>
</html>
