<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
    <link rel="stylesheet" href="/assets/css/home.css">
  </head>
  <body>
    <main class="home">
      <% if (session) { %>
        <%- include('com/nav.html', {navClass: ''}) %>
      <% } else { %>
        <%- include('com/nav.html', {navClass: 'fp-not-logged-in'}) %>
      <% } %>

      <% if (!session) { %>
        <% include hero.html %>
      <% } else { %>
        <% include com/dashboard.html %>
      <% } %>

      <% if (verified) { %>
        <p id="verified-alert" class="alert success" role="alert">
          Your email is verified and your account is now active
        </p>
      <% } %>
      </div>

      <div class="section p2p-apps">
        <div class="container big">
          <h2>
            <i class="fa fa-star"></i>
            Featured apps
          </h2>

          <div class="p2p-apps-list">
            <a href="/taravancil/pastedat-taravancil" class="app paste-dat">
              <h3 class="title">PasteDat</h3>
              <p class="desc">
                Share snippets of text, code, and markdown
              </p>
              <i class="fa fa-align-right"></i>
            </a>

            <a href="/pfrazee/rss-reader-pfrazee" class="app rss">
              <h3 class="title">RSS</h3>
              <p class="desc">
                RSS reader for peer-to-peer websites and blogs
              </p>
              <i class="fa fa-feed"></i>
            </a>

            <a href="/taravancil/p2p-photos-taravancil" class="app photo-album">
              <h3 class="title">Photos</h3>
              <p class="desc">
                Manage photo albums and share photos privately
              </p>
              <i class="fa fa-file-image-o"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="section featured-apps">
        <div class="container big">
          <h2>
            <i class="fa fa-heart"></i>
            From the community
          </h2>

          <div class="featured-apps-list">
            <% featured.forEach(archive => { %>

              <% if (archive.manifest && (archive.manifest.title || archive.name)) { %>
                <a href="/<%= archive.owner.username %>/<%= archive.name %>" class="app">
                  <div class="archive-header">
                    <h3 class="title" title="<%= archive.name %>">
                      <span><%= archive.name %></span>
                    </h3>

                    <span class="author">by <%= archive.owner.username %></span>
                  </div>

                  <p class="desc">
                    <% if (archive.manifest.description) { %>
                      <%= archive.manifest.description %>
                    <% } else { %>
                      <em>No description</em>
                    <% } %>
                  </p>
                </a>
              <% } %>
            <% }) %>
          </div>
        </div>

          <!-- <% if (session && sessionUser) { %>
            <% if (sessionUser.archives.length) { %>
              <% include com/your-archives.html %>
            <% } else { %>
              <div id="get-started-container">
                <i id="dismiss-get-started-btn" class="fa fa-close"></i>
                <p>
                  Welcome! Get started by <a href="/new-archive">adding your first archive</a>.
                </p>
                <div class="graphic-container">
                  <i class="main fa fa-magic"></i>
                </div>
              </div>
            <% } %>

            <p id="beaker-prompt-frontpage" class="beaker-prompt frontpage hidden">
              <i id="dismiss-beaker-prompt-btn" class="fa fa-close"></i>
              Use Hashbase in the Beaker browser <a href="https://beakerbrowser.com">Learn more</a>
              <i class="fa fa-cubes"></i>
            </p>
          <% } %>
        -->

        </div>
      </div>
    </main>
    <% include com/footer-light.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/frontpage.js"></script>
  </body>
</html>
