<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Archive - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main>
    <div class="container">
      <form id="add-archive-form" action="/v1/archives/add" method="POST" class="form card-form">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          <h1 class="form-heading">Upload an archive</h1>
          <div id="error-general" class="alert warning" role="alert"></div>
          <% if (diskUsage >= diskQuota) { %>
            <p class="form-desc">
              <strong>You are out of disk space!</strong>
              <a href="/account">Review your account</a> to manage your archives.
            </p>
          <% } else { %>
            <p class="form-desc bordered">
              Paste the URL for your Dat archive below.
            </p>

            <p class="form-group">
              <label for="add-archive-key-input">
                URL
              </label>
              <div class="dat-picker-container">
                <input autofocus required type="text" class="form-control" id="add-archive-key-input" placeholder="dat://" name="key" />
                <span class="dat-picker"><button class="btn">Browse</button></span>
              </div>
              <span id="add-archive-key-error" class="form-control-feedback"></span>
            </p>

            <p class="form-group">
              <label for="add-archive-name-input">Name</label>
              <input required type="text" class="form-control" id="add-archive-name-input"
              placeholder="Untitled" name="name">
              <span id="add-archive-name-error" class="form-control-feedback"></span>
              <p id="add-archive-name-output-container">
                Your archive's URL:
                <code>
                  <span id="add-archive-name-output">-</span><%= sessionUser.username %>.<%= appInfo.hostname %>
                </code></p>
            </p>

            <div class="actions">
              <button id="add-archive-submit-btn" type="submit" class="btn success" disabled>
                Add Archive
              </button>
            </div>
          <% } %>
      </form>

      <div class="form-followup">
        <div data-target="#beaker-howto">
          <p>Create an archive with the Beaker browser</p>
          <i class="fa fa-caret-right"></i>
          <div id="beaker-howto" class="content">
            Install <a href="https://beakerbrowser.com/docs/install">Beaker</a>, click "New site" in the dropdown menu to create an archive, then copy the archive's URL and paste it into the form above.
          </div>
        </div>
        <div data-target="#dat-howto">
          <p>Create an archive on the command line</p>
          <i class="fa fa-caret-right"></i>
          <div id="dat-howto" class="content">
            Install the official <a href="https://datproject.org/install"> Dat CLI</a>, create an archive, then paste the URL into the form above.
          </div>
        </div>
        <div data-target="#tutorial-video">
          <p>Watch a tutorial</p>
          <i class="fa fa-caret-right"></i>
          <div id="tutorial-video" class="content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wwLaEyKGc90" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    </main>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
    <script>
    window.params = {
      username: "<%= sessionUser.username %>"
    }
    </script>
    <% if (diskUsage < diskQuota) { %>
      <script src="/assets/js/new-archive.js"></script>
    <% } %>
  </body>
</html>
