<!DOCTYPE html>
<html class="bg-faded" lang="en">
  <head>
    <title>Reset Password - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main>
    <div class="container">
      <form class="form modal-form form-reset-password" method="POST">
        <h1 class="form-heading">Change your password</h1>
        <div id="success-msg" class="alert success" role="alert"></div>
        <div id="error-general" class="alert warning" role="alert"></div>

        <p class="form-group">
          <label for="input-newPassword">New password</label>
          <input type="password" name="newPassword" class="form-control" id="input-newPassword">
          <span id="error-newPassword" class="form-control-feedback"></span>
        </p>

        <div class="actions">
          <a href="/login" class="alternate-link">&laquo; Back to login</a>
          <button class="btn primary" type="submit">Reset password</button>
        </div>
      </form>
    </div>
    </main>

    <% include com/footer-light.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/reset-password.js"></script>
  </body>
</html>
