<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Terms of Service - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main class="terms">
    <div class="container medium">
      <h1>Terms of Service</h1>
      <p>Effective June 7, 2017</p>

      <h2>1. Your agreement with Blue Link Labs</h2>
      <h3>1.1</h3>
      <p>
        Your use of the Hashbase service is governed by this agreement (the "Terms"). "Blue Link Labs" means Blue Link Labs Inc., and its subsidiaries or affiliates involved in providing the Hashbase Service. The “Hashbase Services” means the services Blue Link Labs makes available through this website, including this website, Hashbase API, and any other software or services offered by Blue Link Labs in connection to any of those.
      </p>

      <h3>1.2</h3>
      <p>
        In order to use the Hashbase Services, you must first agree to the Terms. You can agree to the Terms by actually using the Hashbase Services. You understand and agree that Blue Link Labs will treat your use of the Hashbase Services as acceptance of the Terms from that point onwards.
      </p>

      <h3>1.3</h3>
      <p>
        You may not use the Hashbase Services if you are a person barred from receiving the Hashbase Services under the laws of the United States or other countries, including the country in which you are resident or from which you use the Hashbase Services. You affirm that you are over the age of 13, as the Hashbase Services are not intended for children under 13.
      </p>

      <h3>1.4</h3>
      <p>
        You agree your purchases of Hashbase Services are not contingent on the delivery of any future functionality or features or dependent on any oral or written public comments made by Blue Link Labs or any of its affiliates regarding future functionality or features.
      </p>

      <h2>2. Your account and use of the Hashbase Services</h2>
      <h3>2.1</h3>
      <p>
       You must provide accurate and complete registration information any time you register to use the Hashbase Services. You are responsible for the security of your passwords and for any use of your account. If you become aware of any unauthorized use of your password or of your account, you agree to notify Blue Link Labs immediately.
      </p>

      <h3>2.2</h3>
      <p>
        Your use of the Hashbase Services must comply with all applicable laws, regulations and ordinances, including any laws regarding the export of data or software.
      </p>

      <h3>2.3</h3>
      <p>
        You agree not to (a) access (or attempt to access) the administrative interface of the Hashbase Services by any means other than through the interface that is provided by Blue Link Labs in connection with the Hashbase Services, unless you have been specifically allowed to do so in a separate agreement with Blue Link Labs, or (b) engage in any activity that interferes with or disrupts the Hashbase Services (or the servers and networks which are connected to the Service).
      </p>

      <h3>2.4</h3>
        <p>
          Your account has “hard” and “soft” usage limits, as further <a class="link" href="/acceptable-use">explained here</a> (or such URL as Blue Link Labs may provide). The Hashbase Services does not permit you to exceed the hard usage limits. Blue Link Labs reserves the right to enforce soft usage limits in its sole discretion, which may result in Hashbase Services serving a “quota exceeded” page to you or users to whom you serve web pages via the Hashbase Services (“End Users”). Repeated exceeding of the hard or soft usage limits may lead to termination of your account.
        </p>

      <h3>2.5</h3>
        <p>
          You may use the Hashbase Services only to upload, store, and serve files on the Blue Link Labs infrastructure. You may not access the Hashbase Services for the purpose of bringing an intellectual property infringement claim against Blue Link Labs or for the purpose of creating a product or service competitive with the Hashbase Services.
        </p>

      <h2>3. Service policies and privacy</h2>
      <h3>3.1</h3>
      <p>
        You agree to comply with the Hashbase Acceptable Use Policy available at <a class="link" href="/acceptable-use">acceptable use policy</a> (the "Acceptable Use Policy") which is incorporated herein by this reference and which may be updated from time to time.
      </p>

      <h3>3.2</h3>
      <p>
        The Hashbase Services shall be subject to the privacy policy for the Hashbase
        Services available at <a class="link" href="/privacy">privacy policy</a>. You agree
        to the use of your data in accordance with Hashbase's privacy policy.
      </p>

      <h2>4. Fees for use of the Hashbase Services</h2>
      <h3>4.1</h3>
      <p>
        Subject to the Terms, the Hashbase Services is provided to you without charge up to certain limits. Usage over this limit requires your purchase of additional resources or services. The pricing for additional resources and services can be found at <a class="link" href="/pricing">https://hashbase.io/pricing</a> (or such URL as Hashbase may provide).
      </p>

      <h3>4.2</h3>
      <p>
        For all purchased resources and services, we will charge your credit card on a monthly basis or at the interval indicated in Blue Link Labs fees and payment policies, if different.
      </p>

      <h3>4.3</h3>
      <p>
        Blue Link Labs may change its fees and payment policies for the Hashbase Services by notifying you at least fifteen (30) days before the beginning of the billing cycle in which such change will take effect. Changes to the fees or payment policies will be posted on the website (or such other URL Hashbase may provide from time to time). Any outstanding balance becomes immediately due and payable upon termination of the Terms for any reason.
      </p>

      <h3>4.4</h3>
      <p>
        You may not access the Hashbase Services in a manner intended to avoid incurring fees.
      </p>

      <h2>5. Content on the Hashbase Services and Take Down Obligations</h>

      <h3>5.1</h3>
      <p>
        You understand that all information (such as data files, written text, computer software, music, audio files or other sounds, photographs, videos or other images) to which you may have access as part of, or through your use of, the Hashbase Services are the sole responsibility of the person from which such content originated. All such information is referred to below as the "Content."
      </p>

      <h3>5.2</h3>
      <p>
        Blue Link Labs reserves the right (but shall have no obligation) to remove any or all Content from the Hashbase Services. You agree to immediately take down any Content that violates the Acceptable Use Policy, including pursuant to a take down request from Blue Link Labs. In the event that you elect not to comply with a request from Blue Link Labs to take down certain Content, Blue Link Labs reserves the right to directly take down such Content.
      </p>

      <h3>5.3</h3>
      <p>
        You agree that you are solely responsible for (and that Blue Link Labs has no responsibility to you or to any third party for) any Content that you create, transmit or display while using the Hashbase Services and for the consequences of your actions (including any loss or damage which Blue Link Labs may suffer) by doing so.
      </p>

      <h3>5.4</h3>
      <p>
        You agree that Blue Link Labs has no responsibility or liability for the deletion or failure to store any Content and other communications maintained or transmitted through use of the Service. You further acknowledge that you are solely responsible for securing and backing up your Content.
      </p>

      <h2>6. Proprietary rights</h2>

      <h3>6.1</h3>
      <p>
        You acknowledge and agree that Blue Link Labs (or Blue Link Labs's licensors) own all legal right, title and interest in and to the Hashbase Services, including any intellectual property rights which subsist in the Hashbase Services (whether those rights happen to be registered or not, and wherever in the world those rights may exist).
      </p>

      <h3>6.2</h3>
      <p>
        Except as provided in Section 8, Blue Link Labs acknowledges and agrees that it obtains no right, title or interest from you (or your licensors) under these Terms in or to any Content that you create, submit, post, transmit or display on, or through, the Hashbase Services, including any intellectual property rights which subsist in that Content (whether those rights happen to be registered or not, and wherever in the world those rights may exist). Unless you have agreed otherwise in writing with Blue Link Labs, you agree that you are responsible for protecting and enforcing those rights and that Blue Link Labs has no obligation to do so on your behalf.
      </p>

      <h2>7. License from Hashbase and restrictions</h2>
      <h3>7.1</h3>
      <p>
        Blue Link Labs gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Blue Link Labs as part of the Hashbase Services as provided to you by Blue Link Labs. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Hashbase Services as provided by Blue Link Labs, in the manner permitted by the Terms.
      </p>

      <h3>7.2</h3>
      <p>
        You may not (and you may not permit anyone else to): (a) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Hashbase Services or any part thereof, unless this is expressly permitted or required by law, or unless you have been specifically told that you may do so by Blue Link Labs, in writing (e.g., through an open source software license); or (b) attempt to disable or circumvent any security mechanisms used by the Hashbase Services or any applications running on the Hashbase Services.
      </p>

      <h3>7.3</h3>
      <p>
        Open source software licenses for components of the Hashbase Services released under an open source license constitute separate written agreements. To the limited extent that the open source software licenses expressly supersede these Terms, the open source licenses govern your agreement with Blue Link Labs for the use of the components of the Hashbase Services released under an open source license.
      </p>

      <h2>8. License from You</h2>
      <h3>8.1</h3>
      <p>
        Blue Link Labs claims no ownership or control over any Content. You retain copyright and any other rights you already hold in the Content, and you are responsible for protecting those rights, as appropriate. By submitting, posting or displaying the Content on or through the Hashbase Services you give Blue Link Labs a worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute such Content for the sole purpose of enabling Blue Link Labs to provide you with the Hashbase Services.
      </p>

      <h3>8.2</h3>
      <p>
        You may choose to or we may invite you to submit comments or ideas about the Hashbase Services, including without limitation about how to improve the Hashbase Services or our products (“Ideas”). By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will not place Blue Link Labs under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone.
      </p>

      <h3>8.3</h3>
      <p>
        You agree that Blue Link Labs, in its sole discretion, may use your trade names, trademarks, service marks, logos, domain names and other distinctive brand features in presentations, marketing materials, customer lists, financial reports and Web site listings (including links to your website) for the purpose of advertising or publicizing your use of the Hashbase Services.
      </p>

      <h2>9. Modification and termination of the Hashbase Services</h2>
      <h3>9.1</h3>
      <p>
        Blue Link Labs is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Hashbase Services which Blue Link Labs provides may change from time to time without prior notice to you, subject to the terms in Section 4.3. Changes to the form and nature of the Hashbase Services will be effective with respect to all versions of the Hashbase Services; examples of changes to the form and nature of the Hashbase Services include without limitation changes to fee and payment policies, security patches, added functionality, and other enhancements.
      </p>

      <h3>9.2</h3>
      <p>
        You may terminate these Terms at any time by canceling your account on the Hashbase Services. You will not receive any refunds if you cancel your account.
      </p>

      <h3>9.3</h3>
      <p>
        You agree that Blue Link Labs, in its sole discretion and for any or no reason, may terminate your account or any part thereof. You agree that any termination of your access to the Hashbase Services may be without prior notice, and you agree that Blue Link Labs will not be liable to you or any third party for such termination.
      </p>

      <h3>9.4</h3>
      <p>
        You are solely responsible for exporting your Content from the Hashbase Services prior to termination of your account for any reason, provided that if we terminate your account, we will provide you a reasonable opportunity to retrieve your Content.
      </p>

      <h3>9.5</h3>
      <p>
        Upon any termination of the Hashbase Services or your account these Terms will also terminate, but Sections 6.1, 11, 12, 13, 14, and 18 shall continue to be effective after these Terms are terminated.
      </p>

      <h2>10. EXCLUSION OF WARRANTIES</h2>

      <h3>10.1</h3>
      <p>
        NOTHING IN THESE TERMS, INCLUDING SECTIONS 12 AND 13, SHALL EXCLUDE OR LIMIT BLUE LINK LABS'S WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW.
      </p>

      <h3>10.2</h3>
      <p>
        YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE HASHBASE SERVICE IS AT YOUR SOLE RISK AND THAT THE HASHBASE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE."
      </p>

      <h3>10.3</h3>
      <p>
        BLUE LINK LABS, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS MAKE NO EXPRESS WARRANTIES AND DISCLAIM ALL IMPLIED WARRANTIES REGARDING THE HASHBASE SERVICES, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, BLUE LINK LABS, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT: (A) YOUR USE OF THE HASHBASE SERVICES WILL MEET YOUR REQUIREMENTS, (B) YOUR USE OF THE HASHBASE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR, AND (C) USAGE DATA PROVIDED THROUGH THE HASHBASE SERVICES WILL BE ACCURATE.
      </p>

      <h2>11. LIMITATION OF LIABILITY</h2>
      <h3>11.1</h3>
      <p>
        SUBJECT TO SECTION 10.1 ABOVE, YOU EXPRESSLY UNDERSTAND AND AGREE THAT BLUE LINK LABS, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY. THIS SHALL INCLUDE, BUT NOT BE LIMITED TO, ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS.
      </p>

      <h3>11.2</h3>
      <p>
        THE LIMITATIONS ON BLUE LINK LABS'S LIABILITY TO YOU IN PARAGRAPH 11.1 ABOVE SHALL APPLY WHETHER OR NOT BLUE LINK LABS HAS BEEN ADVISED OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.
      </p>

      <h2>12. Indemnification</h2>
      <h3>12.1</h3>
      <p>
        You agree to hold harmless and indemnify Blue Link Labs, and its subsidiaries, affiliates, officers, agents, employees, advertisers, licensors, suppliers or partners (collectively "Blue Link Labs and Partners") from and against any third party claim arising from or in any way related to (a) your breach of the Terms, (b) your use of the Hashbase Services, (c) your violation of applicable laws, rules or regulations in connection with the Hashbase Services, or (d) your Content, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys' fees, of every kind and nature. In such a case, Blue Link Labs will provide you with written notice of such claim, suit or action.
      </p>

      <h2>13. Copyright policy</h2>
      <h3>13.1</h3>
      <p>
        You agree to set up a process to respond to notices of alleged infringement that comply with the United States' Digital Millennium Copyright Act ("DMCA notices"). It is Blue Link Labs' policy to respond to DMCA notices or other applicable copyright laws and to terminate the accounts of repeat infringers. We reserve the right to take down your Content upon receipt of a valid DMCA notice.
      </p>

      <h2>14. Other content</h2>
      <h3>14.1</h3>
      <p>
        The Hashbase Services may include hyperlinks to other web sites or content or resources or email content. Blue Link Labs may have no control over any web sites or resources which are provided by companies or persons other than Blue Link Labs.
      </p>

      <h3>14.2</h3>
      <p>
        You acknowledge and agree that Blue Link Labs is not responsible for the availability of any such external sites or resources, and does not endorse any advertising, products or other materials on or available from such web sites or resources.
      </p>

      <h3>14.3</h3>
      <p>
        You acknowledge and agree that Blue Link Labs is not liable for any loss or damage which may be incurred by you or your End Users as a result of the availability of those external sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such web sites or resources.
      </p>

      <h2>15. Changes to the Terms</h2>
      <h3>15.1</h3>
      <p>
        Blue Link Labs may make changes to the Terms from time to time. If we change the Terms in any substantive way, we will give you at least seven (7) days notice before the changes take effect, during which period of time you may reject the changes by terminating your account.
      </p>

      <h3>15.2</h3>
      <p>
        You understand and agree that if you use the Hashbase Services after the date on which the Terms have changed, Blue Link Labs will treat your use as acceptance of the updated Terms.
      </p>

      <h2>16. General legal terms</h2>
      <h3>16.1</h3>
      <p>
        The Terms constitute the whole legal agreement between you and Blue Link Labs and govern your use of the Hashbase Services (but excluding any services which Blue Link Labs may provide to you under a separate written agreement), and completely replace any prior agreements between you and Blue Link Labs in relation to the Hashbase Services.
      </p>

      <h3>16.2</h3>
      <p>
        There are no third party beneficiaries to these Terms. The parties are independent contractors, and nothing in these Terms creates an agency, partnership or joint venture.
      </p>

      <h3>16.3</h3>
      <p>
        If Hashbase provides you with a translation of the English language version of these Terms, the English language version of these Terms will control if there is any conflict.
      </p>

      <h3>16.4</h3>
      <p>
        You agree that Blue Link Labs may provide you with notices, including those regarding changes to the Terms, by email, regular mail, or postings on the Hashbase Services. By providing Blue Link Labs your email address, you consent to our using the email address to send you any notices required by law in lieu of communication by postal mail.
      </p>

      <h3>16.5</h3>
      <p>
        You agree that if Blue Link Labs does not exercise or enforce any legal right or remedy which is contained in the Terms (or which Blue Link Labs has the benefit of under any applicable law), this will not be taken to be a formal waiver of Blue Link Labs' rights and that those rights or remedies will still be available to Blue Link Labs.
      </p>

      <h3>16.6</h3>
      <p>
        Blue Link Labs shall not be liable for failing or delaying performance of its obligations resulting from any condition beyond its reasonable control, including but not limited to, governmental action, acts of terrorism, earthquake, fire, flood or other acts of God, labor conditions, power failures, and Internet disturbances.
      </p>

      <h3>16.7</h3>
      <p>
        The Terms, and your relationship with Blue Link Labs under the Terms, shall be governed by the laws of the State of Deleware without regard to its conflict of laws provisions. You and Blue Link Labs agree to submit to the exclusive jurisdiction of the courts located within the the state of Deleware to resolve any legal matter arising from the Terms.
      </p>

      <h3>16.8</h3>
      <p>
        Neither party may assign any of its rights or obligations under these Terms, whether by operation of law or otherwise, without the prior written consent of the other party (not to be unreasonably withheld). Notwithstanding the foregoing, either party may assign the entirety of its rights and obligations under these Terms, without consent of the other party, to its affiliate or in connection with a merger, acquisition, corporate reorganization, or sale of all or substantially all of its assets not involving a direct competitor of the other party. A party’s sole remedy for any purported assignment by the other party in breach of this paragraph shall be, at the non-assigning party’s election, termination of your use of the Hashbase Services upon written notice to the assigning party.
      </p>

      <p>
        This document is an adaptation of the <a class="link" href="https://www.heroku.com/policy/tos">Heroku Terms of Service</a>. The original work has been modified. Heroku, Inc. is not connection with and does not sponsor or endorse Hashbase or its use of the work.
      </p>
    </div>
    </main>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
  </body>
</html>
