.rounded {
  border-radius: 3px;
  overflow: hidden;
}

.rounded-extra {
  border-radius: 5px;
  overflow: hidden;
}

.box-shadow {
  box-shadow: 0 20px 60px -10px fadeout(black, 80%);
}

.text-shadow {
  text-shadow: fadeout(black, 85%) 1px 1px 1px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nobreak {
  white-space: nowrap;  
}

.text-muted {
  color: @color-text--muted;
}